@font-face {
    font-family: heading-font;
    src: url(Crackman.otf);
}
@font-face {
    font-family: bottom-text-font;
    src: url(zorque.otf);
}
.restOfThePage{
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(204, 188, 219);
    background-image: url(./images/tttbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tic-tac-toe-heading-text{
    font-size: 5rem;
    font-family: heading-font;
    color: rgb(87, 73, 121);
    opacity: 1;
    
    

    
    
}
.score{
    background-color: rgb(227, 158, 158);
    justify-self: center;
    display: inline-block;
}


.header{
    background-color: rgb(220, 242, 192);
    height: 26vh;
    text-align: center;
    padding-top: 11vh;
    opacity: 0.95;
    
}

.gameContainer{

    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    justify-items: center;
    width: 40%;
    justify-content: center;
    margin-top: 28vh;
    justify-content: center;
    border-radius: 6px;
    margin-left: 33vw;
    box-shadow: black ;

}
.tic_tac_toe_cell{
       
    border: 1px dotted black;
    width: 100%;
    padding-top: 4vh;
    padding-bottom: 4vh;
    font-size: 5rem;
    background-color: rgb(227, 242, 197);
    
    
}
.tic_tac_toe_cell:hover{
    cursor: pointer;
    background-color:  rgb(215, 232, 182);


}
.lowerMostText{
    position: fixed;
    top: 96dvh;
    left: 40dvw;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 6px;
    font-family: bottom-text-font;
    opacity: 0.7;
    
}
.score{
    width: 10%;
    margin-top: 6dvh;
    margin-bottom: 10dvh;
    border-radius: 10px;
    padding: 2vh 2vh 2vh 2vh;
    border: 5px solid black;
    font-size: 1.4rem;
}